<div class="container">
    <div class="row">
      <h2 class="center">Form submit</h2>
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                formControlName="username"
                class="form-control">
                <span *ngIf="!submitForm.get('username')?.valid  && (submitForm.get('username')?.dirty || submitForm.get('username')?.touched) "   class="help-block">Please enter username</span>
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control">
                <span *ngIf="!submitForm.get('email')?.valid && (submitForm.get('email')?.dirty || submitForm.get('email')?.touched) " class="help-block">Please enter valid email</span>
            </div>

          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                formControlName="gender"
                [value]="gender">{{ gender }}
            </label>
          </div>
          <span *ngIf="!submitForm?.valid && submitForm?.touched " class="help-block">Please enter valid data!</span>
          <button class="btn btn-primary"   type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
